<div class="div">
    <footer class="footer">
        <div>
            <h6><b>Servicio al cliente</b></h6>
            <small>
                <a href="">asesoramiento</a>
                <br>
                <a href="">Test Drive</a>
                <br>
                <a href="">Cátalogos</a>
            </small>
        </div>
        <div>
            <h6><b>Acerca de nosotros</b></h6>
            <small>
                <a href="">quienes somos</a>
                <br>
                <a href="">sucursales</a>
                <br>
                <a href="">contactenos</a>
            </small>
        </div>
        <div>
            <h6><b>Redes Sociales</b></h6>
            <a href=""><img src="https://cbredes.s3.us-east-2.amazonaws.com/webred/_red/_renault/_images/ic-fb.png" alt="Facebook"></a>
            <a href=""><img src="https://cbredes.s3.us-east-2.amazonaws.com/webred/_red/_renault/_images/ic-ig.png" alt="Instagram"></a>
            <a href=""><img src="https://cbredes.s3.us-east-2.amazonaws.com/webred/_red/_renault/_images/ic-yt.png" alt="YouTube"></a>
        </div>
    </footer>
</div>