<div class="div-nav">
    <nav class="nav">
        <div class="div-ul">
            <ul class="ul">
                <div class="div-li"><li><a routerLink="">Vehiculos</a></li></div>
                <div class="div-li"><li><a routerLink="">Servicios</a></li></div>
                <div class="div-li"><li><a routerLink="">Finanziación</a></li></div>
                <div class="div-li"><li><a routerLink="">Usados</a></li></div>
                <div class="div-li"><li><a routerLink="">Nosotros</a></li></div>
            </ul>
        </div>
    </nav>
</div>